<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <h3></h3>
      </div>
      <div class="col-sm-10">
        <ul>
          <li>
            <figure>
              <a href="#">
                <img src="..\..\assets\about_2016_2.jpg" alt="《林口限定》Mappa獨家加碼。 iShow卡友享好禮"
                  title="《林口限定》Mappa獨家加碼。 iShow卡友享好禮" />
              </a>
            </figure>
            <section class="infoArea">
              <h5>
                <a href="#">《林口限定》Mappa獨家加碼。 iShow卡友享好禮</a>
              </h5>
              <time>2019/09/20 ~ 2019/10/06</time>
            </section>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="..\..\assets\about_2016_2.jpg" alt="《林口限定》Mappa獨家加碼。 iShow卡友享好禮"
                  title="《林口限定》Mappa獨家加碼。 iShow卡友享好禮" />
              </a>
            </figure>
            <section class="infoArea">
              <h5>
                <a href="#">《林口限定》Mappa獨家加碼。 iShow卡友享好禮</a>
              </h5>
              <time>2019/09/20 ~ 2019/10/06</time>
            </section>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="..\..\assets\about_2016_2.jpg" alt="《林口限定》Mappa獨家加碼。 iShow卡友享好禮"
                  title="《林口限定》Mappa獨家加碼。 iShow卡友享好禮" />
              </a>
            </figure>
            <section class="infoArea">
              <h5>
                <a href="#">《林口限定》Mappa獨家加碼。 iShow卡友享好禮</a>
              </h5>
              <time>2019/09/20 ~ 2019/10/06</time>
            </section>
          </li>

      </div>
      <div class="col-sm-1">
        <h3></h3>
      </div>
    </div>
  </div>

</body>

</html>
<style>
  * {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    text-decoration: none;
  }

  li {
    float: left;
    display: block;
    width: 230px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    
  }

  figure {
    display: block;
    height: 250px;
    margin: 0 20px;
    padding-top: 30px;
  }

  figure a {
    height: 250px;
  }

  figure a img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  h5 a {
    height: 250px;
  }

  li:hover {
    background-color: #d9d9d9;
    text-decoration: none;
  }

  .infoArea {
    margin-top: 30px;
  }

  time {
    margin-top: 50px;
  }
</style>



    <div
      class="modal fade bd-example-modal-xl"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myExtraLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">...</div>
      </div>
    </div>


    <div
                class="modal fade bd-example-modal-lg"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myLargeModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="text-align:left; padding:40px">
                    <h3>{{info.title}}</h3>
                    <p>
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      開始日期 : {{info.time}}
                    </p>
                    <p>
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      截止日期 : {{info.time}}
                    </p>
                    <p>
                      <i class="fa fa-map-marker" aria-hidden="true"></i> 活動地點 : 林口MITSUI OUTLET PARK威秀影城
                    </p>
                    <p>
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      活動辦法 : {{info.content}}於影城臨櫃使用iShow卡單筆儲值1,000元以上，並購買Mappa影廳任一場次電影票，即可立即獲得加碼好禮。
                    </p>

                    <p>09/20-09/29「2019世界音樂節單日票」乙張</p>
                    <p>09/30-10/06 「歐舒丹護手霜」乙條</p>

                    <p>注意事項:</p>
                    <p>1. 本活動僅適用於林口MITSUI OUTLET PARK威秀影城。</p>
                    <p>2. 贈品圖片僅供參考，規格以實際贈品為主。</p>
                    <p>3. 贈品一人一卡限兌乙次，數量有限、送完為止。</p>
                    <p>4. 威秀影城保有活動最終解釋權。</p>
                  </div>
                </div>
              </div>